body {
    font-family: Arial;
    padding: 40px;
    background: #f5f5f5;
}

.form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 320px;
}

input, select {
    width: 100%;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: #2d72d9;
    color: white;
    border: none;
}

h3 {
    margin-top: 20px;
}